/*Modal*/
.modal .modal-content .modal-header,
.modal .modal-footer {
	background: #5867dd;
    color: #fff;
    border-color: #5867dd;
}
.modal .modal-header .modal-title {
	font-weight: bold !important;
	color: #fff !important;
}
.modal .form-group label {
	font-weight: bold;
}
/*end: Modal*/

/*-------------left menu----------*/
/* toogle menu*/
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span,
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span {
	background: #13ef0f;
}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before,
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::before {
    background: #ed0a0a;
}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after,
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::after {
	background: #22c8e3;
}
#m_aside_left_minimize_toggle {

}
.m-aside-menu.m-aside-menu--skin-dark 
.m-menu__nav>.m-menu__item.m-menu__item--active {
	background: #212834;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, 
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-icon, 
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
	color: #fff;
}
.m-card-user__name {
	font-weight: bold !important;
}
/*-----------end: left menu------------*/

/* Top menu */
.m-stack.m-stack--desktop.m-stack--ver>.m-stack__item.m-stack__item--fluid {
    background: #212834;
}
/*end: top menu*/

/*form*/
.form-control[readonly], 
.form-control {
	border-color: #d7dbe3;
}
/*end: form*/